* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-------------------- -------------------*/
main p, h2,.about-hosts-programme p,
.programme-details div time {
    color: var(--title-h1);
}

.the-team-box {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.programmeBox {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.programmeHostBox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.host-image {
    width: 170px;
    height: auto;
    border-radius: 10px;
}

.hosts-programme-info {
    background-color: var(--nav-bg);
    border-radius: 10px 15px;
    padding: 10px 20px;
    width: 70vw;
    max-height: 160px;
}

.programme-details {
    /* border: 1px solid grey; */
    border-radius: 10px 15px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    flex-wrap: wrap;
}

.programme-details div {
    border-radius: 10px 15px;
    padding: 4px 10px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: small;
    color: var(--text);
}

.hostName {
    border-radius: 10px 15px;
    padding: 4px 10px;
    border: 1px solid none;
    background-color: rgb(163, 163, 163);
    font-size: medium;
}

.programme-time {
    border: 1px solid var(--text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: var(--text);
}

.radio-icon {
    width: 16px;
}

.about-programme {
    font-size: medium;
    margin: 8px 0;
}

.programme-time p {
    font-weight: bold ;
}

aside {
    border: 1px solid red;
    width: 40%;
}

/*------------------- media query ----------------- */
@media (max-width: 1250px) {

    .hostName {
        font-size: x-small;
    }

    .radio-icon {
        width: 12px;
    }
    
    .programme-time p {
        font-size: xx-small;
    }

    .about-programme {
        font-size: clamp(0.7rem, 0.7rem, 0.7rem);
    }

}

@media (max-width: 900px) {
    .host-image{
        width: 16vw;
    }

    .hostName {
        font-size: small;
    }

    .programmeBox {
        /* border: 1px solid greenyellow; */
        width: 100%;
    }

    .about-programme {
        font-size: small;
        margin: 8px 0;
    }

    aside {
        display: none;
    }
}

@media (max-width: 550px) {
    aside {
        display: none;
    }

    .host-image {
        width: 20vw;
    }

    .hostName {
        font-size: x-small;
    }

    .time {
        font-size: xx-small;
    }

    .about-programme {
        font-size: clamp(0.7rem, 0.7rem, 0.7rem);
    }

    .radio-icon {
        width: 10px;
    }
}